<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PetCareDB"
             connectionString="Server=LAPTOP-ORDALAOG\\SQLEXPRESS;Database=PetCareX_DB;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=True;"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
