<div class="text-center" style="margin-top: 100px;">
    <h1 class="text-success" style="font-size: 50px;">🎉</h1>
    <h2 class="text-success">ĐẶT LỊCH THÀNH CÔNG!</h2>
    <p class="lead">Dữ liệu đã được lưu vào Database.</p>
    <p>Mời Lễ tân (Thịnh) mở WinForm lên để duyệt lịch.</p>
    <br />
    <a href="/Booking" class="btn btn-primary">Đặt thêm lịch khác</a>
</div>